.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0;
    background-color: #E7F066;
}

.header__logo {
    position: relative;
    z-index: 1;
}
.header__logo svg{
    width: 60px;
    height: 25px;
}
@media(min-width:576px){
    .header__logo svg{
        width: 100px;
        height: 40px;
    }
}
.header__container {
    display: flex;
    justify-content: space-between;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__cart {
    position: relative;
    z-index: 1;
    margin-right: 30px;
    color: #262626;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}